
body{
	/*width: 1100px;*/
	margin: auto;
	font-family: sans-serif;
	font-size: 90%;
	line-height: 20px;
	background-color: #fff;
}

.page-wrap {
    width: 970px;
    margin: 0 auto;
}

#home{
	display: hidden;
}

a{
	text-decoration: none;
	color: #22292f;
}

.user-navigation{
	background-color: #978883;
}

.pattern-navigation{
	background-color: #99e1d9;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 7px 0 7px 0;

}

.logo{
	float: left;
}

.search{
	float: left;
	margin: 30px 0 0 30px;
}

.search input{
	width: 400px;
	border-radius: 4px;
	height: 28px;
	font-size: 20px;
	line-height: 12px;
	vertical-align: middle;
}

.search button{
	color: white;
	padding: 9px;
	margin-left: 5px;
	border-style: solid;
	border-radius: 4px;
	border-color: #2c4446;
	font-size: 14px;
	background-color: #70abaf;
	border-top: none;
	border-left: none;
	border-right: none;
	vertical-align: middle;
}

.search button:hover{
	-webkit-transform:translateY(1px);
	transform: translateY(1px);
}

/*CONTENT*/
.content{
	width: 970px;
	overflow: auto;
}

h2{
	border-bottom: 1px solid #b8c2cc;
}

h2>a:hover{
	opacity: 0.5;
}

.popular{
	height: 220px;
	overflow: hidden;
}

.recent{
	height: 440px;
	overflow: hidden;
}

.pattern{
	height: 200px;
	width: 200px;
	float: left;
	margin: 15px 10px 0px 25px;
}

.pattern img{
	width: 189px;
	height: auto;
	border: 1px solid #b8c2cc;
	border-radius: 3px;
}

.pattern a{
	font-weight: bold;
}

/*FAQ*/
.articles{
	width: 615px;
	overflow: auto;
}

.article{
	border-radius: 4px;
	margin: 15px 15px 0px 15px;
}

.faqcontent{
	overflow: auto;
}

.faqcontent div{
	float: left;
}

.article h2{
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	padding: 12px 10px 10px 10px;
	margin: 0;
	border-bottom: 1px solid #b8c2cc;
	line-height: 12px;
}

.article p{
	border-radius: 4px;
	padding: 0 10px 10px 10px;
}

.headings{
  	position: sticky;
  	top:1%;
  	float:right;
  	border:1px solid #b8c2cc;
  	border-radius: 4px;
  	margin-top: 50px;
  	padding: 7px;
}

.headingtitle{
	color:#22292f;
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	margin: -5px 0 10px 0;
}

.headings ol{
	padding: 0 15px 0 30px;
}

#photo{
	float: left;
}

#description{
	float: right;
	background-color: red;
}
/*BROWSER*/
/*.searchbar{
	height: 55px;
	width: 430px;
	margin: 0 auto;
	position: relative;
	top: -35px;
}

.searchbar p{
	margin: 10px 0 10px 0;
}

.select{
	float: left;
	margin-left: 30px;

}

select{
	border:1px solid #b8c2cc;
	border-radius: 2px;
	padding: 8px;
}*/

}